.download-btn {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #0000001a;
    border-radius: 3px;
    vertical-align: middle;
}
a.download-btn::before {
    content: "\f019 ";
    font-family: 'FontAwesome';
    padding: 0 8px 0 0px;
}


.box-footer .btn-group 
{
    float: left !important;
    margin-left: 2rem !important;
}
