.download-btn {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #0000001a;
    border-radius: 3px;
    vertical-align: middle;
}
a.download-btn::before {
    content: "\f019 ";
    font-family: 'FontAwesome';
    padding: 0 8px 0 0px;
}


.box-footer .btn-group
{
    float: left !important;
    margin-left: 2rem !important;
}


.main-footer a {
    color: white !important;
    font-weight: bold !important;
    /* Add any other desired styles */
}
.main-footer strong {
    color: white !important;
    font-weight: bold !important;
    /* Add any other desired styles */
}

.hidden {
    display: none;
}
.graphcss
{
    margin-top:15px!important;
}
.graphcss .box-body {
    height: 430px !important;
}


.panel_yard::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  .panel_yard::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .panel_yard::-webkit-scrollbar-thumb {
    background: #bdb6b6;
    border-radius: 10px;
  }

  /* Handle on hover */
  .panel_yard::-webkit-scrollbar-thumb:hover {
    background: #bdb6b6;
  }
  .panel_yard {
    height: 174px;
    overflow-y: scroll;
}
.column-user_id
{
  width: 10px!important;
}