@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
}

.tabs-area {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.language-2-header {
  background: #BBF5FF;
}

.lang-head {
  height: 55px;
}

.grey-theme {
  width: 30px;
  height: 30px;
  background: #808080;
  border: 3px solid #FFFFFF;
  display: block;
}

.black-theme {
  width: 30px;
  height: 30px;
  background: #F2881D;
  border: 3px solid #FFFFFF;
  display: block;
}

.language-links {
  margin-left: 10px;
}

.language-text {
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #333333;
}

.main .language-header nav {
  height: 55px;
  background: #BBF5FF;
}
.main .language-header nav span {
  margin-right: 100px;
}
.main .language-header nav span ul.navbar-nav li.nav-item a.nav-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.main .language-header nav span ul.navbar-nav li.nav-item .grey-color {
  width: 30px;
  height: 30px;
  background: #808080;
  border: 3px solid #FFFFFF;
}
.main .language-header nav span ul.navbar-nav li.nav-item .yellow-color {
  background: #F2881D;
  border: 3px solid #FFFFFF;
  width: 30px;
  height: 30px;
}
.main .primary-menu .menus {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.main .primary-menu .menus #search-bar {
  position: relative;
}
.main .primary-menu .menus #search-bar #search-input {
  line-height: 2rem;
  padding: 0.2rem 2rem;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 22.5px;
  font-weight: 400;
  font-size: 16px;
  color: #909DB5;
  width: auto;
  min-width: 634px;
}
.main .primary-menu .menus #search-bar #search-icon {
  position: absolute;
  top: 0;
  right: 16px;
  left: auto;
  margin-top: 0.8rem;
  padding: 0px 0.5rem;
  color: #BBF5FF;
}
.main .primary-menu .menus .navbar-nav ul {
  padding: 0;
  margin: 0;
}
.main .primary-menu .menus .navbar-nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}
.main .primary-menu .menus .navbar-nav ul li a.account-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  background: #BBF5FF;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 217px;
  border: none;
}
.main .primary-menu .menus .navbar-nav ul li a.account-btn:hover {
  background: #BBF5FF;
  color: #333333;
}
.main .primary-menu span.navbar-text {
  background: #F7F7F7;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  height: 50px;
  padding: 0;
}
.main .primary-menu span.navbar-text ul li {
  margin-right: 35px;
}
.main .primary-menu span.navbar-text ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 0;
}
.main .primary-menu span.navbar-text ul li a:hover {
  color: #88E2F2;
  border-bottom: 2px solid #88E2F2;
}
.main .booking {
  padding: 60px 0;
  background-color: #ffffff;
}
.main .booking h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 27px;
  color: #222222;
  text-transform: capitalize;
}
.main .booking .orderhistoryOne-section {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
}
.main .booking .orderhistoryOne-section .historyBox {
  background: #F5F5F5;
}
.main .booking .orderhistoryOne-section .historyBox h4.orderid,
.main .booking .orderhistoryOne-section .historyBox h4.orderplaced {
  color: #222222;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
}
.main .booking .orderhistoryOne-section .historyBox h4.orderid span,
.main .booking .orderhistoryOne-section .historyBox h4.orderplaced span {
  font-weight: 600;
}
.main .booking .orderhistoryOne-section .historyBox h4.orderid:nth-child(2),
.main .booking .orderhistoryOne-section .historyBox h4.orderplaced:nth-child(2) {
  font-weight: 400;
}
.main .booking a.order-btn {
  background: #00465F;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  border: none;
  padding: 17px 71px;
}
.main .booking .table thead {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-transform: uppercase;
  color: #444444;
}
.main .booking .table tbody {
  border-style: hidden;
}
.main .booking .table tbody td {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #444444;
  padding: 32px 10px;
}
.main .booking .table tbody td a {
  color: #33649A;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}
.main footer .footer-top {
  background: #BBF5FF;
}
.main footer .footer-top h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-left: -15px;
  position: relative;
}
.main footer .footer-top h4:after {
  content: "";
  position: absolute;
  background-image: url(../images/home-page/footer-border-line.png);
  background-image: url(../images/home-page/footer-border-line.png);
  height: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 35px;
  bottom: 82px;
  width: 38%;
  left: 0;
  border-radius: 10px;
}
.main footer .footer-top ul li {
  line-height: 160%;
  margin-bottom: 10px;
  list-style-type: disc;
}
.main footer .footer-top ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}
.main footer .footer-top ul.list-unstyled-end {
  margin: 0;
  padding: 0;
}
.main footer .footer-top ul.list-unstyled-end li {
  list-style-type: none;
}
.main footer .footer-top .social-icons ul {
  margin: 0;
  padding: 0;
}
.main footer .footer-top .social-icons ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.main footer .footer-bottom {
  background: #333333;
}
.main footer .footer-bottom .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
}
.main footer .footer-bottom p {
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: 400;
}
.main #confirmationModal .modal-body p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}
.main #confirmationModal .modal-body p span {
  display: block;
}
.main #confirmationModal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #confirmationModal .modal-footer a.continue-btn {
  background: #00465F;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 33px;
}

#makepaymentnModal .modal-body p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}
#makepaymentnModal .modal-body p span {
  display: block;
}
#makepaymentnModal .modal-header {
  border-bottom: none;
}
#makepaymentnModal .modal-header button .close-btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
#makepaymentnModal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#makepaymentnModal .modal-footer a.continue-btn {
  background: #00465F;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 33px;
}

@media (max-width: 600px) {
  .language-text {
    font-size: 12px;
  }
  .main .banner .carousel-inner .carousel-caption h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .main .banner .carousel-inner .carousel-caption {
    top: 50%;
    left: 4%;
    transform: translate(0%, -97%);
  }
  .main .banner .carousel-indicators {
    bottom: 10%;
  }
  .carousel-img {
    width: 200%;
  }
  .language-links {
    margin-left: 7px;
    line-height: 11px;
  }
  .grey-theme {
    width: 20px;
    height: 20px;
  }
  .black-theme {
    width: 20px;
    height: 20px;
  }
  .main .contact-us h3 {
    font-size: 28px;
  }
  .main .contact-us h3 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #ffffff;
  }
  .main .primary-menu .menus #search-bar #search-input {
    min-width: -webkit-fill-available;
  }
  .main .raw-material-box select.category-selection,
  .main .raw-material-box .search input {
    width: auto;
    min-width: 100%;
  }
  .main .raw-material-box .search {
    display: initial;
  }
  .main .primary-menu .menus {
    display: block;
  }
  .main .primary-menu .menus .navbar-nav ul li {
    margin: 12px 0px;
  }
  .main .booking .table thead {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #444444;
  }
  .main .booking .table tbody td a {
    color: #33649A;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .main .booking .table tbody td {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    padding: 32px 0;
  }
  .main .booking .orderhistoryOne-section .historyBox h4.orderid, .main .booking .orderhistoryOne-section .historyBox h4.orderplaced {
    color: #222222;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0;
  }
  .main footer .footer-top h4 {
    margin-left: 0;
  }
  ul.list-unstyled {
    padding-left: 5%;
  }
}
@media (min-width: 768px) {
  .main .primary-menu .menus #search-bar #search-input {
    line-height: 2rem;
    padding: 0.2rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
    font-weight: 400;
    font-size: 14px;
    color: #909DB5;
    width: auto;
    min-width: 300px;
  }
  .main .primary-menu .menus .navbar-nav ul li a.account-btn {
    width: auto;
    min-width: 120px;
    border: none;
  }
  .main footer .footer-top h4 {
    margin-left: 0;
  }
  ul.list-unstyled {
    padding-left: 5%;
  }
  .main footer .footer-top h4 {
    font-size: 12px;
    line-height: 16px;
    margin-left: -15px;
  }
  .main footer .footer-top ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
  ul.list-unstyled-end {
    padding-left: 5%;
  }
  .main .booking .table thead {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
  }
  .main .booking .orderhistoryOne-section .historyBox h4.orderplaced {
    color: #222222;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  .main .primary-menu .menus #search-bar #search-input {
    line-height: 2rem;
    padding: 0.2rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
    font-weight: 400;
    font-size: 14px;
    color: #909DB5;
    width: auto;
    min-width: 300px;
  }
  .main .primary-menu .menus .navbar-nav ul li a.account-btn {
    width: auto;
    min-width: 120px;
    border: none;
  }
  .main footer .footer-bottom .copyright {
    display: block;
  }
  .main footer .footer-top h4 {
    margin-left: 0;
  }
  ul.list-unstyled {
    padding-left: 5%;
  }
  .main footer .footer-top h4 {
    font-size: 12px;
    line-height: 16px;
    margin-left: -15px;
  }
  .main footer .footer-top ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
  ul.list-unstyled-end {
    padding-left: 5%;
  }
}
@media (min-width: 1200px) {
  .main .raw-material-box {
    background-image: url(../images/raw-material/raw-material.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    height: auto;
    min-height: 300px;
  }
  .main .raw-material-box select.category-selection {
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #909DB5;
    width: auto;
    min-width: 732px;
  }
  .main .raw-material-box select.category-selection:focus {
    box-shadow: none;
  }
  .main .raw-material-box .search {
    position: relative;
    color: #909DB5;
    font-size: 16px;
    display: inline-block;
  }
  .main .raw-material-box .search input {
    width: auto;
    font-size: 16px;
    min-width: 732px;
    height: 42px;
    text-indent: 20px;
    color: #909DB5;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
  }
  .main .raw-material-box .search .search-icon {
    position: absolute;
    left: auto;
    right: 0;
    background: #00465F;
    border-radius: 22.5px;
    width: 67px;
    height: 42px;
  }
  .main .raw-material-box .search .search-icon i.fa.fa-search {
    margin-top: 13px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 53%;
    margin: auto;
    transform: translate(43%, -50%);
  }
  .main section.raw-material-box .nav-tabs {
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    border-bottom: none;
    width: auto;
    min-width: 273px;
    max-width: 273px;
    margin: auto;
  }
  .main section.raw-material-box .nav-tabs .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    width: 50%;
    border: 0;
  }
  .main section.raw-material-box .nav-tabs .nav-link:active {
    background: #00465F;
    border-radius: 5px;
    color: #ffffff;
  }
  .main .product-selling {
    padding: 20px 0 40px 0;
    background-color: #ffffff;
  }
  .main .product-selling h3 {
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #333333;
    margin-bottom: 60px;
  }
  .main .product-selling span {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: #333333;
  }
  .main .product-selling table {
    border-collapse: separate;
    border-spacing: 0 7px;
    border-bottom-width: 0px;
  }
  .main .product-selling table thead.bg-gray {
    background: #D7D7D7;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    height: 70px;
    color: #444444;
    text-align: center;
  }
  .main .product-selling table tr {
    background: #F9F9F9;
    vertical-align: middle;
  }
  .main .product-selling table tr td {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #444444;
    padding: 13px 35px;
    border-right: 1px solid #9F9F9F;
    border-bottom: none;
    text-align: center;
  }
  .main .product-selling table tr td a.book-now {
    background: #00465F;
    border-radius: 22.5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 4px 35px;
  }
  .main .product-selling .pagination ul li.page-item {
    padding: 2px;
  }
  .main .product-selling .pagination ul li.page-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #33649A;
  }
  .main .product-selling .pagination ul li.page-item a span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .main footer .footer-top {
    background: #BBF5FF;
  }
  .main footer .footer-top h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-left: -15px;
    position: relative;
  }
  .main footer .footer-top h4:after {
    content: "";
    position: absolute;
    background-image: url(../images/home-page/footer-border-line.png);
    background-image: url(../images/home-page/footer-border-line.png);
    height: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 35px;
    bottom: 82px;
    width: 38%;
    left: 0;
    border-radius: 10px;
  }
  .main footer .footer-top ul li {
    line-height: 160%;
    margin-bottom: 10px;
    list-style-type: disc;
  }
  .main footer .footer-top ul li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
  }
  .main footer .footer-top ul.list-unstyled-end {
    margin: 0;
    padding: 0;
  }
  .main footer .footer-top ul.list-unstyled-end li {
    list-style-type: none;
  }
  .main footer .footer-top .social-icons ul {
    margin: 0;
    padding: 0;
  }
  .main footer .footer-top .social-icons ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
  }
  .main footer .footer-bottom {
    background: #333333;
  }
  .main footer .footer-bottom .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
  }
  .main footer .footer-bottom p {
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 400;
  }
}
@media (min-width: 1400px) {
  .main .language-header nav {
    height: 55px;
    background: #BBF5FF;
  }
  .main .language-header nav span {
    margin-right: 100px;
  }
  .main .language-header nav span ul.navbar-nav li.nav-item a.nav-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  .main .language-header nav span ul.navbar-nav li.nav-item .grey-color {
    width: 30px;
    height: 30px;
    background: #808080;
    border: 3px solid #FFFFFF;
  }
  .main .language-header nav span ul.navbar-nav li.nav-item .yellow-color {
    background: #F2881D;
    border: 3px solid #FFFFFF;
    width: 30px;
    height: 30px;
  }
  .main .primary-menu .menus {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  .main .primary-menu .menus #search-bar {
    position: relative;
  }
  .main .primary-menu .menus #search-bar #search-input {
    line-height: 2rem;
    padding: 0.2rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
    font-weight: 400;
    font-size: 16px;
    color: #909DB5;
    width: auto;
    min-width: 634px;
  }
  .main .primary-menu .menus #search-bar #search-icon {
    position: absolute;
    top: 0;
    right: 16px;
    left: auto;
    margin-top: 0.8rem;
    padding: 0px 0.5rem;
    color: #BBF5FF;
  }
  .main .primary-menu .menus .navbar-nav ul {
    padding: 0;
    margin: 0;
  }
  .main .primary-menu .menus .navbar-nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
  }
  .main .primary-menu .menus .navbar-nav ul li a.account-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    background: #BBF5FF;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 217px;
    border: none;
  }
  .main .primary-menu .menus .navbar-nav ul li a.account-btn:hover {
    background: #BBF5FF;
    color: #333333;
  }
  .main .primary-menu span.navbar-text {
    background: #F7F7F7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    height: 50px;
    padding: 0;
  }
  .main .primary-menu span.navbar-text ul li {
    margin-right: 35px;
  }
  .main .primary-menu span.navbar-text ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 0;
  }
  .main .primary-menu span.navbar-text ul li a:hover {
    color: #88E2F2;
    border-bottom: 2px solid #88E2F2;
  }
  .main .product-selling {
    padding: 20px 0 40px 0;
    background-color: #ffffff;
  }
  .main .product-selling table {
    border-collapse: separate;
    border-spacing: 0 7px;
    border-bottom-width: 0px;
  }
  .main .product-selling table thead.bg-gray {
    background: #D7D7D7;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    height: 70px;
    color: #444444;
    text-align: center;
  }
  .main .product-selling table tr {
    background: #F9F9F9;
    vertical-align: middle;
  }
  .main .product-selling table tr td {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #444444;
    padding: 13px 35px;
    border-right: 1px solid #9F9F9F;
    border-bottom: none;
    text-align: center;
  }
  .main .product-selling table tr td a.book-now {
    background: #00465F;
    border-radius: 22.5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 4px 35px;
  }
  .main .raw-material-box {
    background-image: url(../images/raw-material/raw-material.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    height: auto;
    min-height: 300px;
  }
  .main .raw-material-box select.category-selection {
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #909DB5;
    width: auto;
    min-width: 732px;
  }
  .main .raw-material-box select.category-selection:focus {
    box-shadow: none;
  }
  .main .raw-material-box .search {
    position: relative;
    color: #909DB5;
    font-size: 16px;
    display: inline-block;
  }
  .main .raw-material-box .search input {
    width: auto;
    font-size: 16px;
    min-width: 732px;
    height: 42px;
    text-indent: 20px;
    color: #909DB5;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 22.5px;
  }
  .main .raw-material-box .search .search-icon {
    position: absolute;
    left: auto;
    right: 0;
    background: #00465F;
    border-radius: 22.5px;
    width: 67px;
    height: 42px;
  }
  .main .raw-material-box .search .search-icon i.fa.fa-search {
    margin-top: 13px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 53%;
    margin: auto;
    transform: translate(43%, -50%);
  }
  .main section.raw-material-box .nav-tabs {
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    border-bottom: none;
    width: auto;
    min-width: 273px;
    max-width: 273px;
    margin: auto;
  }
  .main section.raw-material-box .nav-tabs .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    width: 50%;
    border: 0;
  }
  .main section.raw-material-box .nav-tabs .nav-link:active {
    background: #00465F;
    border-radius: 5px;
    color: #ffffff;
  }
  .main footer .footer-top {
    background: #BBF5FF;
  }
  .main footer .footer-top h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-left: -15px;
    position: relative;
  }
  .main footer .footer-top h4:after {
    content: "";
    position: absolute;
    background-image: url(../images/home-page/footer-border-line.png);
    background-image: url(../images/home-page/footer-border-line.png);
    height: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 35px;
    bottom: 82px;
    width: 38%;
    left: 0;
    border-radius: 10px;
  }
  .main footer .footer-top ul li {
    line-height: 160%;
    margin-bottom: 10px;
    list-style-type: disc;
  }
  .main footer .footer-top ul li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
  }
  .main footer .footer-top ul.list-unstyled-end {
    margin: 0;
    padding: 0;
  }
  .main footer .footer-top ul.list-unstyled-end li {
    list-style-type: none;
  }
  .main footer .footer-top .social-icons ul {
    margin: 0;
    padding: 0;
  }
  .main footer .footer-top .social-icons ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
  }
  .main footer .footer-bottom {
    background: #333333;
  }
  .main footer .footer-bottom .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
  }
  .main footer .footer-bottom p {
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 400;
  }
}/*# sourceMappingURL=booking_old.css.map */