.modal.in form
{
    position:relative;

}
.modal.in form::before {
    content: "Order Review";
    position: absolute;
    top: 10px;
    left: 11px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.modal.in form .modal-body
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal.in form .form-group:nth-child(1),.modal.in form .form-group:nth-child(2)
{
    margin-top:45px;
}
.modal.in form .modal-body .form-group
{
    flex: 0 0 45%;
}